<h3> Détails du produit</h3>
<div>

  <div>
    <label> <b> ID:</b></label> {{product.id}}
  </div>
  <div>
    <label> <b> Designation:</b></label> {{product.designation}}
  </div>
  <div>
    <label> <b> Prix:</b></label> {{product.price}}
  </div>
  <div>
    <label> <b> Quantité en Dépôt</b></label> {{product.depositQuantity}}
  </div>
  <div>
    <label> <b> Date d'Expiration:</b></label> {{product.expiryDate}}
  </div>
  <div>
    <label> <b> Description:</b></label> {{product.description}}
  </div>
</div>
