<div class="row">


    <div class="col-lg-6 ">
      <img src="{{product.photo}}">
    </div>

<div class="col-lg-6 card">

  <h3> Détails du produit</h3>
<div>

  <div>
    <label> <b> ID:</b></label> {{product.id}}
  </div>
  <div>
    <label> <b> Designation:</b></label>
    {{product.designation}}<br><br>
  </div>
  <div>
    <label> <b> Prix:</b></label> {{product.price}} MAD<br><br>
  </div>
  <div>
    <label> <b> Quantité en Dépôt:</b></label> {{product.depositQuantity}}pièces<br><br>
  </div>
  <div>
    <label> <b> Date d'Expiration de l'Offre:</b></label> {{product.expiryDate}}<br><br>
  </div>
  <div>
    <label> <b> Ventes:</b></label> {{product.sales}}<br><br>
  </div>
  <div>
    <label> <b> Description:</b></label> {{product.description}}<br><br>
  </div>
</div>
</div>
</div>
