
  <div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52tTBXjEufnuLGax1bMYtfjU1-Zqw0Y3nmHNH313zVIKrnsLxTHEd96fFK4R0DYmI97s&usqp=CAU" width="120" height="77">

    <a class="logo" href="#" (click)="navigateHome()"><span>PHONESTORE</span></a>

    <img src="https://i.etsystatic.com/23893836/r/il/385f9e/2480911764/il_fullxfull.2480911764_33eu.jpg" width="160" height="77">

  </div>
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item" icon="bell-outline">dd</nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <img src="https://cdn-icons-png.flaticon.com/128/7915/7915354.png" width="74" height="73">
    </nb-action>
  </nb-actions>
</div>

